th, td {
	border-bottom: 1px solid black;
	padding: 30px;
    margin: auto;
    float: center;
    text-align: left;
    font-family: courier;
}

table {
	margin: auto;
	padding: 30px;
}

h1 {
	font-family: Courier;
	font-size: 40px;
	text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button {
	text-decoration: none;
}

.button {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: auto;
}