th, td {
	border-bottom: 1px solid black;
    margin: 50px;
    float: center;
    text-align: left;
    font-family: courier;
}

h1 {
	font-family: Courier;
	font-size: 40px;
	text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}